html {
  background: #212833 url("https://www.bungie.net/img/theme/destiny/bgs/clan/clanprofilebackground.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

body {
  font: 14px "Lato", "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  color: #fff;
}
a,
div.bnet_id {
  color: #6495ED;
}
.main-container {
  font-size: 14px;
  line-height: 20px;
}
nav small {
  font-size: 14px;
}
nav .flag-icon {
  margin-left: 8px;
}
.link-container i.fas,
.link-container i.fab {
  font-size: 140px;
}
/*************************************
  Index
/*************************************/
.home-container {
  min-height: 50vh;
  max-width: 1000px;
  margin: 0 auto;
}
.clan-logo {
  max-height: 140px;
  position: relative;
  right: 2px;
}
/*************************************
  Leaderboard
/*************************************/
.fixedHeader-floating {
  color: #000;
}
/*************************************
  Leaderboard
/*************************************/
.spinner {
  width: 40px;
  height: 40px;
  background-color: #fff;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}