extends layout

block header
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js")
  script(src="/javascripts/index.js?25")

block content
  .row.bg-transparent.border-bottom.border-warning
    .col-md-12
      div.home-container.d-flex.flex-column.justify-content-center.align-items-center.w-100.p-md-5.pl-3.pr-3.pt-4.pb-4
        h5.mb-4 About Us

        p.text-justify We are a group of players from <span class="flag-icon flag-icon-sg"></span> Singapore (SG), playing on +8 GMT time zone. The majority of us are matured players between the age of 21 to 35. If you are in a similar time zone or is a fellow SG player, feel free to join us for some PvE and PvP fun! We have both casual and hardcore players.

        p.text-justify Links to either clans and Discord can be found below. If both clans are full or if you encounter any problem, dm one of our admin in Discord.

  .row.bg-transparent.border-bottom.border-warning
    .col-md-12
      .home-vendor-container.w-100.p-md-5.pl-3.pr-3.pt-4.pb-4
        .row
          .col-md-12.full-col
        .row.spinner
          .col-md-4.left-col
          .col-md-4.mid-col
          .col-md-4.right-col
        .row
          .col-md-12.text-center
            small Data indicated with *** are curated manually and may not be super accurate post reset


  .row.bg-transparent.border-bottom.border-warning
    .col-md-12
      div.onlineChart-container.w-100.p-md-5.pl-3.pr-3.pt-4.pb-4
        h5.text-center.mb-5 Clan Activity (Members Online)
        canvas#onlineHistory.chart-canvas.bg-transparent.mb-3.spinner.spinner.d-flex.justify-content-center(style="max-height: 250px;")

  .row.bg-transparent
    .col-md-12
      div.link-container.d-flex.flex-column.flex-md-row.justify-content-center.justify-content-md-around.align-items-md-start.align-items-center.w-100.p-md-5.pl-3.pr-3.pt-4.pb-4

        div.order-0.order-md-0.pl-0.pr-0.pl-md-5.pr-md-5.mb-5.mb-md-0
          a.text-light.text-decoration-none(href="http://bit.ly/sgeclan1", target="_blank")
            h4.text-center.mb-2 Clan 1
            div.text-center
              i.fas.fa-home.mt-2
            div.mt-2.text-center http://bit.ly/sgeclan1

        div.order-3.order-md-2.pl-0.pr-0.pl-md-5.pr-md-5
          a.text-light.text-decoration-none(href="https://discord.gg/qkUuhB7", target="_blank")
            h4.text-center.mb-2 Discord
            div.text-center
              i.fab.fa-discord.mt-2
            div.mt-2.text-center https://discord.gg/qkUuhB7

        div.order-2.order-md-3.pl-0.pr-0.pl-md-5.pr-md-5.mb-5.mb-md-0
          a.text-light.text-decoration-none(href="http://bit.ly/sgeclan2", target="_blank")
            h4.text-center.mb-2 Clan 2
            div.text-center
              i.fas.fa-home.mt-2
            div.mt-2.text-center http://bit.ly/sgeclan2

block footer
  style.
    .vendor-item:hover {
      cursor: pointer;
    }
  script.
    $(document).ready(function(){

      $.get('/api/vendor', function(data){

        $('.home-vendor-container .row').removeClass('spinner');

        data = JSON.parse(data);

        if( data.length > 0 ) {

          var vendorHash = {
            'Suraya Hawthorne': '3347378076',
            'Ada-1': '2917531897',
            'Banshee-44': '672118013',
            'Spider': '863940356',
            'Lord Shaxx': '3603221665',
            'The Drifter': '248695599',
            'Lord Saladin': '895295461',
            'Commander Zavala': '69482069',
            'Xur': '2190858386',
            'Tess Everis': '3361454721'
          };

          saladin_bounties = data.filter(function(item){ return item.vendor_hash == vendorHash['Lord Saladin'] && item.itemTypeDisplayName == 'Iron Banner Bounty' });

          //console.log(saladin_bounties);

          // Manual Data

          ascendant_challenge = getAscendantChallenge();
          weekly_dc_mission = getWeeklyDCMission();

          if( ascendant_challenge.length > 0 && weekly_dc_mission.length > 0 ) {
            $('.right-col').prepend( getVendorStr( ascendant_challenge.concat(weekly_dc_mission) , 'Dreaming City') );
          }

          escalation_protocol = getEscalationProtocol();

          if( escalation_protocol.length > 0  ) {
            $('.right-col').prepend( getVendorStr( escalation_protocol, 'Escalation Protocol') );
          }

          // Prestige: Gladiator - "Melee kills buff weapon damage, and weapon kills buff melee damage." - https://bungie.net/common/destiny2_content/icons/8d4cc5b8420f2a647c877610b9f286ed.png
          // Prestige: Arsenal - "Weapons have no reserve ammo. Emptying the clip of a weapon refills the clips of your holstered weapons." - https://bungie.net/common/destiny2_content/icons/5e870c7f571cf35554183a9b330cbf23.png
          // Prism - "Attacks matching the periodically rotating focused element do more damage. Other elemental damage is reduced. Incoming damage is unaffected." - https://bungie.net/common/destiny2_content/icons/7cd52fc7131a02c6b03544df779cb8c6.png

          raid_lair_modifiers = {
            loadouts: {
              primary: 'Hand Cannon',
              energy: 'Sniper Rifle',
              power: 'Anything'
            },
            modifier: {
              name: 'Prism',
              description: 'Attacks matching the periodically rotating focused element do more damage. Other elemental damage is reduced. Incoming damage is unaffected.',
              icon: 'https://bungie.net/common/destiny2_content/icons/7cd52fc7131a02c6b03544df779cb8c6.png'
            }
          };

          $('.right-col').prepend( getRaidLairModifiers(raid_lair_modifiers) );

          $('[data-toggle="tooltip"]').tooltip({
            animated: 'fade',
            html: true
          });
        }
      })

    });

    function getRaidLairModifiers(data) {

      var tooltip = `
      <h6 class='font-weight-bold mb-1'>`+data.modifier.name+`</h6>
      <div>`+data.modifier.description+`</div>
      `;

      var str = `
      <div class="mb-3 border-warning border">
        <div class="border-warning border-bottom p-2">Y1 Prestige Raid Lair Modifiers***</div>
        <div class="pl-2 pr-2 pt-2 pb-1">
          <div class="mb-1 vendor-item">
            <div><u>Loadout</u></div>
            <div class="d-flex">
              <img class="img-fluid" src="https://bungie.net/common/destiny2_content/icons/dc4bb9bcdd4ae8a83fb9007a51d7d711.png" style="width: 20px; height: 20px; margin-right: 5px;"/> Primary: `+data.loadouts.primary+`
            </div>
            <div class="d-flex">
              <img class="img-fluid" src="https://bungie.net/common/destiny2_content/icons/b6d3805ca8400272b7ee7935b0b75c79.png" style="width: 20px; height: 20px; margin-right: 5px;"/> Energy: `+data.loadouts.energy+`
            </div>
            <div class="d-flex">
              <img class="img-fluid" src="https://bungie.net/common/destiny2_content/icons/9fa60d5a99c9ff9cea0fb6dd690f26ec.png" style="width: 20px; height: 20px; margin-right: 5px;"/> Power: `+data.loadouts.power+`
            </div>
            <div class="mt-2"><u>Modifier</u></div>
            <div class="d-flex mt-1" data-toggle="tooltip" title="`+tooltip+`">
              <img class="img-fluid" src="`+data.modifier.icon+`" style="width: 20px; height: 20px; margin-right: 5px;"/>
              `+data.modifier.name+`
            </div>
          </div>
        </div>
      </div>
      `
      return str;
    }

    function getEscalationProtocol() {

      var escalationProtocol = {
        'Kathok, Roar of Xol': {
          name: 'IKELOS_SMG_v1.0.1',
          icon: '/common/destiny2_content/icons/85ad82abdfc13537325b45a85d6f4462.jpg'
        },
        'Damkath, The Mask': {
          name: 'IKELOS_SR_v1.0.1',
          icon: '/common/destiny2_content/icons/52630df015ef0e839555982c478d78f3.jpg'
        },
        'Naksud, the Famine': {
          name: 'All 3 Weapons',
          icon: '/common/destiny2_content/icons/d316fa414f16795f5f0674a35d2bdae7.jpg'
        },
        'Bok Litur, Hunger of Xol': {
          name: 'All 3 Weapons',
          icon: '/common/destiny2_content/icons/d316fa414f16795f5f0674a35d2bdae7.jpg'
        },
        'Nur Abath, Crest of Xol': {
          name: 'IKELOS_SG_v1.0.1',
          icon: '/common/destiny2_content/icons/edfdd807c9d604e80b48ad8fe39c8f36.jpg'
        },
      };

      var startACDate = moment('2019-01-16 01:00:00', 'YYYY-MM-DD H:mm:ss');
      var currDate = moment('2019-05-22');

      var index = 0;
      var found = false;

      while(found == false) {

        if( index == Object.keys(escalationProtocol).length ) {
          index = 0;
        }

        nextWeek = moment( startACDate.format('YYYY-MM-DD H:mm:ss'), 'YYYY-MM-DD H:mm:ss' ).add(7, 'days');

        if( currDate.isBetween(startACDate, nextWeek) ) {
          found = true;
        }
        else {
          startACDate = nextWeek;
          index++;
        }
      }

      return [{
        name: escalationProtocol[ Object.keys(escalationProtocol)[index] ].name,
        icon: escalationProtocol[ Object.keys(escalationProtocol)[index] ].icon,
        description: 'Boss: ' + Object.keys(escalationProtocol)[index]
      }];
    }

    function getAscendantChallenge() {

      var ascendantChallenges = {
        'Gardens of Esila': "At the overlook's edge, the garden grows onward.",
        'Chamber of Starlight': "Starlight, star bright, first untruth she'll craft tonight...",
        'Spine of Keres': "Climb the bones and you'll find your ruin.",
        'Harbinger’s Seclude': "Crush the first queen's crown beneath your bootheel.",
        'Bay of Drowned Wishes': "Drown in your wishes, dear squanderer.",
        'Aphelion’s Rest': "They call it a 'rest,' but it is more truly a haunt."
      };

      var startACDate = moment('2019-01-16 01:00:00', 'YYYY-MM-DD H:mm:ss');
      var currDate = moment();
      // var currDate = moment('2019-05-01 05:55:55', 'YYYY-MM-DD H:mm:ss');

      var index = 0;
      var found = false;

      while(found == false) {

        if( index == Object.keys(ascendantChallenges).length ) {
          index = 0;
        }

        nextWeek = moment( startACDate.format('YYYY-MM-DD H:mm:ss'), 'YYYY-MM-DD H:mm:ss' ).add(7, 'days');

        if( currDate.isBetween(startACDate, nextWeek) ) {
          found = true;
        }
        else {
          startACDate = nextWeek;
          index++;
        }
      }

      return [{
        name: 'A. Challenge: ' + Object.keys(ascendantChallenges)[index],
        icon: '/common/destiny2_content/icons/2f9e7dd03c415eb158c16bb59cc24c84.jpg',
        description: ascendantChallenges[ Object.keys(ascendantChallenges)[index] ]
      }];
    }

    function getWeeklyDCMission() {

      var weeklyDCMission = {
        'Broken Courier': "Respond to a distress call in the Strand.",
        'Oracle Engine': "The Taken threaten to take control of an irreplaceable Awoken communications device.",
        'Dark Monastery ': "Provide recon for Petra's forces by investigating strange enemy activity in Rheasilvia.",
      };

      var startDate = moment('2019-01-16 01:00:00', 'YYYY-MM-DD H:mm:ss');
      var currDate = moment();
      var currDate = moment('2019-05-01 05:55:55', 'YYYY-MM-DD H:mm:ss');

      var index = 0;
      var found = false;

      while(found == false) {

        if( index == Object.keys(weeklyDCMission).length ) {
          index = 0;
        }

        nextWeek = moment( startDate.format('YYYY-MM-DD H:mm:ss'), 'YYYY-MM-DD H:mm:ss' ).add(7, 'days');

        console.log( currDate.format('YYYY-MM-DD H:mm:ss') );
        console.log( startDate.format('YYYY-MM-DD H:mm:ss') );
        console.log( nextWeek.format('YYYY-MM-DD H:mm:ss') );
        console.log( currDate.isBetween(startDate, nextWeek) );

        if( currDate.isBetween(startDate, nextWeek) ) {
          found = true;
        }
        else {
          startDate = nextWeek;
          index++;
        }
      }

      return [{
        name: 'Mission: ' + Object.keys(weeklyDCMission)[index],
        icon: '/common/destiny2_content/icons/a6ce21a766375f5bcfb6cc01b093a383.png',
        description: weeklyDCMission[ Object.keys(weeklyDCMission)[index] ]
      }];
    }

    function getVendorStr(data, title, type="vertical") {
      str = `
      <div class="mb-3 border-warning border">
        <div class="border-warning border-bottom p-2">`+title+`</div>
        <div class="pl-2 pr-2 pt-2 pb-1 `+(type=='vertical'?'':'d-md-flex flex-md-wrap justify-content-md-around')+`">
      `;

      for(var i=0; i<data.length; i++) {

        var tooltip = '';
        var cost = '';

        if( data[i].description ) {

          if( data[i].cost ) {
            cost = `<div class='mt-2'>Price: `+data[i].cost+` `+data[i].cost_name+`</div>`;
          }

          tooltip = `
          <div>
            <h6 class='font-weight-bold mb-1'>`+data[i].name+`</h6>
            <div class='d-flex align-items-start'>
              <div>
                <img src='https://bungie.net`+data[i].icon+`' class='mt-1 mb-1 mr-2 border-white border' style='width: 50px; height: 50px;'/>
              </div>
              <div>`+data[i].description.replace(/"/g, "'")+`</div>
            </div>
            `+cost+`
          </div>
          `;
        }

        str += `
        <div class="d-flex mb-1 vendor-item" data-toggle="tooltip" title="`+tooltip+`">
          <img class="img-fluid" src="https://bungie.net`+data[i].icon+`" style="width: 20px; height: 20px; margin-right: 5px;"/>`+data[i].name+`
        </div>
        `;
      }

      str += `
        </div>
      </div>
      `
      return str;
    }
