extends layout

block header
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js")
  script(src="/javascripts/index.js?23")

block content
  .row.bg-transparent.border-bottom.border-warning
    .col-md-12
      div.home-container.d-flex.flex-column.justify-content-center.align-items-center.w-100.p-md-5.pl-3.pr-3.pt-4.pb-4
        h5.mb-4 About Us

        p.text-justify We are a group of players from <span class="flag-icon flag-icon-sg"></span> Singapore (SG), playing on +8 GMT time zone. The majority of us are matured players between the age of 21 to 35. If you are in a similar time zone or is a fellow SG player, feel free to join us for some PvE and PvP fun! We have both casual and hardcore players.

        p.text-justify Links to either clans and Discord can be found below. If both clans are full or if you encounter any problem, dm one of our admin in Discord.

  .row.bg-transparent.border-bottom.border-warning
    .col-md-12
      div.onlineChart-container.w-100.p-md-5.pl-3.pr-3.pt-4.pb-4
        h5.text-center.mb-5 Clan Activity (Members Online)
        canvas#onlineHistory.chart-canvas.bg-transparent.mb-3.spinner.spinner.d-flex.justify-content-center(style="max-height: 250px;")

  .row.bg-transparent
    .col-md-12
      div.link-container.d-flex.flex-column.flex-md-row.justify-content-center.justify-content-md-around.align-items-md-start.align-items-center.w-100.p-md-5.pl-3.pr-3.pt-4.pb-4

        div.order-0.order-md-0.pl-0.pr-0.pl-md-5.pr-md-5.mb-5.mb-md-0
          a.text-light.text-decoration-none(href="http://bit.ly/sgeclan1", target="_blank")
            h4.text-center.mb-2 Clan 1
            div.text-center
              i.fas.fa-home.mt-2
            div.mt-2.text-center http://bit.ly/sgeclan1

        div.order-3.order-md-2.pl-0.pr-0.pl-md-5.pr-md-5
          a.text-light.text-decoration-none(href="https://discord.gg/qkUuhB7", target="_blank")
            h4.text-center.mb-2 Discord
            div.text-center
              i.fab.fa-discord.mt-2
            div.mt-2.text-center https://discord.gg/qkUuhB7

        div.order-2.order-md-3.pl-0.pr-0.pl-md-5.pr-md-5.mb-5.mb-md-0
          a.text-light.text-decoration-none(href="http://bit.ly/sgeclan2", target="_blank")
            h4.text-center.mb-2 Clan 2
            div.text-center
              i.fas.fa-home.mt-2
            div.mt-2.text-center http://bit.ly/sgeclan2