extends layout

block header
  script(src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js")
  script(src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js")
  script(src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js")

  link(rel='stylesheet', href='https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css')
  link(rel='stylesheet', href='https://cdn.datatables.net/fixedheader/3.1.5/css/fixedHeader.bootstrap4.min.css')

  script(src="/javascripts/leaderboard.js?118")
block content
  .row
    .col-md-12.pt-4.pb-4
      ul.nav.nav-pills#pills-tab(role="tablist").mb-5.leaderboard-nav.justify-content-end
        li.nav-item
          a.nav-link.active#pills-summary-tab(data-toggle="pill", href="#pills-summary", role="tab" aria-controls="pills-summary" aria-selected="true").text-white Summary
        li.nav-item
          a.nav-link#pills-raid-tab(data-toggle="pill", href="#pills-raid", role="tab" aria-controls="pills-raid" aria-selected="true").text-white Raid
        li.nav-item
          a.nav-link#pills-pve-tab(data-toggle="pill", href="#pills-pve", role="tab" aria-controls="pills-pve" aria-selected="true").text-white PvE
        li.nav-item
          a.nav-link#pills-crucible-tab(data-toggle="pill", href="#pills-crucible", role="tab" aria-controls="pills-crucible" aria-selected="true").text-white Crucible
        li.nav-item
          a.nav-link#pills-gambit-tab(data-toggle="pill", href="#pills-gambit", role="tab" aria-controls="pills-gambit" aria-selected="true").text-white Gambit
        li.nav-item
          a.nav-link#pills-weapon-tab(data-toggle="pill", href="#pills-weapon", role="tab" aria-controls="pills-weapon" aria-selected="true").text-white Weapons Kills
        li.nav-item
          a.nav-link#pills-triumph-tab(data-toggle="pill", href="#pills-triumph", role="tab" aria-controls="pills-triumph" aria-selected="true").text-white Triumph

      .tab-content#pills-tabContent
        .tab-pane.fade.show.active#pills-summary
          h2.text-center.mb-3 Summary
          #badges-container.mb-5.mt-2

        .tab-pane.fade#pills-raid(role="tabpanel", aria-labelledby="pills-raid-tab")
          h2.text-center Raid Completions
          #raid-container.mb-5

        .tab-pane.fade#pills-pve(role="tabpanel", aria-labelledby="pills-pve-tab")
          h2.text-center PvE Stats
          #pve-container.mb-5

        .tab-pane.fade#pills-crucible(role="tabpanel", aria-labelledby="pills-crucible-tab")
          h2.text-center Crucible Stats
          #pvp-container.mb-5

        .tab-pane.fade#pills-gambit(role="tabpanel", aria-labelledby="pills-gambit-tab")
          h2.text-center Gambit Stats
          #gambit-container.mb-5

        .tab-pane.fade#pills-weapon(role="tabpanel", aria-labelledby="pills-weapon-tab")
          h2.text-center Weapon Kills
          #weapon-container.mb-5

        .tab-pane.fade#pills-triumph(role="tabpanel", aria-labelledby="pills-triumph-tab")
          h2.text-center Triumph
          #triumph-container.mb-5

block footer
  link(rel='stylesheet', href='/stylesheets/leaderboard.css?34')