extends layout

block header
  script(src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js")
  script(src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js")
  script(src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js")

  link(rel='stylesheet', href='https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css')
  link(rel='stylesheet', href='https://cdn.datatables.net/fixedheader/3.1.5/css/fixedHeader.bootstrap4.min.css')

  script(src="/javascripts/roster.js?58")
block content
  .row.pb-5
    .col-md-12
      h2.mt-3 Clan Roster
      .roster-container.spinner


block footer
  link(rel='stylesheet', href='/stylesheets/roster.css?11')